input[type='checkbox'] {
    accent-color: #008000;
    cursor: pointer;
}

.body{
    .areaSideBar{
        width: (100%);
        height: calc(100% - 60px);
        display: flex;
        margin-top: 60px;
        overflow: hidden;

        .side-close{
            width: calc(100% - 800px);
            margin-left: 400px;
        }
        .sidebar{
            background-color: white;
            height: calc(100% - 50px);
            width: 400px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            overflow: scroll;


            .title{
                display: flex;
                padding: 5px;
                align-items: center;
                justify-content: left;
                font-size: 13;
                color: #1A6634;
                font-weight: bold;
                 p{
                    margin-left: 10px;
                 }
            }

            .underline{
                width: 100%;
                height: 1px;
                background-color: #000000;
            }

            .form{
                color: black;
                padding: 10px;

                    input{
                        padding: 5px;
                        height: 30px;
                        border: 1px solid #DBDEE7;
                        outline: none;
                        color: #26282E;
                        &:focus{
                            border-color: #008000;
                        }
                        &:hover {
                            border-color: #008000;
                        }
                        
                    }

                    select{
                        color: #26282E;
                        padding: 5px;
                        height: 40px;
                        border-color: #DBDEE7;
                        
                        option{
                            height: 40px;

                            &:hover{
                                background-color: #1A6634;
                            }
                        }
                    }
                    .nameQuestion {
                        input {
                            height: 30px;
                            width: 98%;
                            border: 1px solid #DBDEE7; 
                            &:focus{
                                border-color: #008000;
                            }
                            &:hover {
                                border-color: #008000;
                            }
                        }
                    }


                .phase2{
                    padding-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .idQues{
                        width: 50%;
                        display: inline-block;
                        
                    }

                    .type{
                        width: 50%;
                        display: block;
                        justify-content: end;
                        select{
                            width: 100%;
                        }
                    }
                }

                .phase3{
                    width: 100%;
                    padding-top: 20px;
                    display: inline-block;
                    div{
                        select{
                            width: 100%;
                        }
                    }
                }

                .phase4{
                    width: 100%;
                    padding-top: 20px;
                    display: inline-block;
                    div{
                        select{
                            width: 100%;
                        }
                    }
                }

                .phase5{
                    width: 100%;
                    display: block;
                    padding-top: 20px;
                    input{
                        height: 30px;
                        width: 50%;
                        display: block;
                    }
                }

                .phase6{
                    width: 100%;
                    display: block;
                    align-items: center;
                    justify-content: center;
                    padding-top: 20px;
                    div{
                        select{
                            height: 50px;
                            width: 54%;
                            display: block;
                        }
                    }
                   
                }
            }

            .btn-area{
                background-color: white;
                height: 50px;
                width: 100%;
                position: fixed;
                padding: 10px;
                bottom: 0;
                display: flex;

                .btn-close{
                    width: 95px;
                    height: 35px;
                    background-color: white;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #1A6634;
                    font-weight: 500;
                    cursor: pointer;
                }

                .btn-add{
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 30px;
                    width: 95px;
                    height: 35px;
                    background-color: #1A6634;
                    color: white;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        }

    }
  
    .example-sidenav{
        position: absolute;
        width: 400px;
    }

    .popToast{
        max-height: 100px;
        max-width: 400px;
        background-color: red;
        position: absolute;
        bottom: 0;
        margin-bottom: 40px;
        margin-left: -150px;
        border-radius: 20px;
        color: white;
        z-index: 99;

        .pop{
            padding: 10px;
            display: flex;
            align-items: center; 
            justify-content: start;

            p{
                margin-left: 20px;
            }
        }
    }
    
    .popCheck{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30%;
        margin-left: 20%;    
        margin-right: 20%;
        width: 50%;

        .pop{
            max-width: 100%;
            height: 67px;
            background-color: white;
            border-radius: 5px;
            display: flex;

            .numberItem{
                height: 100%;
                width: 92px;
                background-color: #008000;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                color: white;
                div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 30px;
                    font-weight: bold;
                }
                p{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 13px;
                    font-weight: bold;
                }
            }

            .itemFunction{
                display: flex;
                align-items: center;
                justify-content: center;
                .item{
                    max-width: 150px;
                    height: 100%;
                    cursor: pointer;
                    i{
                        height: 33px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 20px;
                    }
                    div{
                        height: calc(100% - 33px);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 20px;
                    }

                    &:hover{
                        background-color: #BDC2D2;
                    }
                }
            }

            .btn-cancel{
                width: 50px;
                height: 100%;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #959DB3;
                cursor: pointer;
                &:hover{
                    background-color: #f03355;
                }
            }
        }
    }

    .popUpDetele{
        width: calc(100% - 240px);
        height: calc(100% - 60px) ;
        padding-right: 5px;
        padding-left: 5px;
        background-color: rgb(0, 0, 0, 50%);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        .pop{
            height: 245px;
            width: 316px;
            background-color: white;
        
            .underline{
                width: 100%;
                height: 1px;
                background-color: #DBDEE7;
            }

            .title{
                color: #FD7676;
                font-size: 16px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    margin-left: 20px;
                }
            }
            .content {
                position: relative; 
                height: calc(100% - 120px);
                margin: 10px;
            
                .title-contet {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }
            
                .under-title {
                    position: absolute; 
                    bottom: 0;
                    width: 100%; 
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgba(255, 255, 255, 0.5); 
                }
            
                .group {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #36C8CF;
                    // width: 100px;
                    white-space: nowrap;
                }
            
                .three-dot {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #36C8CF;
                }
            }
            
            

            .underline2{
                height: 1px;
                width: 100%;
                background-color: #DBDEE7;
            }

            .btn{
                height: 50px;
                display: flex;
                cursor: pointer;

                div{
                    align-items: center;
                    justify-content: center;
                    display: flex;
                }
                .btn-cancel{
                    color: #959DB3;
                    width: 50%;
                    height: 50px;
                    background-color: white;
                }

                .btn-delete{
                    width: 50%;
                    height: 50px;
                    background-color: #FD7676;
                    color: white;

                    div{
                        margin-left: 10px;
                    }
                }
            }
        }
    }

/* HTML: <div class="loader"></div> */
.loading{
    position: absolute;
    width: calc(100% - 250px);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -50px;

}

        .loader {
            width: 50px;
            aspect-ratio: 1;
            display: grid;
            border: 4px solid #0000;
            border-radius: 50%;
            border-color: #ccc #0000;
            animation: l16 1s infinite linear;
        }
        .loader::before,
        .loader::after {    
            content: "";
            grid-area: 1/1;
            margin: 2px;
            border: inherit;
            border-radius: 50%;
        }
        .loader::before {
            border-color: #f03355 #0000;
            animation: inherit; 
            animation-duration: .5s;
            animation-direction: reverse;
        }
        .loader::after {
            margin: 8px;
        }
        @keyframes l16 { 
            100%{transform: rotate(1turn)}
        }

    
    
    .header-two{
        display: flex;
        height: 50px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        overflow-x: hidden;
        .checkbox-header{
            display: flex;
            width: calc(100% - 300px);
            overflow-x: auto;
 
            .check-item{
                border: 2px solid transparent;
                max-width: 200px;
                height: 28px;
                display: flex;
                margin-right: 20px;
                background-color: white;
                padding: 0 20px;
                border-radius: 20px;
                white-space: nowrap;
                cursor: pointer;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                p{
                    margin-right: 15px;
                    color: #959DB3;
                }

                &:hover{
                    border: 2px solid #008000; 
                }
            }
        }

        .button-header{
            width: 300px;
            display: flex;
            align-items: center;
            justify-content: right;

            .btn-upload{
                min-width: 35px;
                height: 35px;
                width: 35px;
                background-color: white;
                align-items: center;
                justify-content: center;
                display: flex;
                border-radius: 5px;
                cursor: pointer;
                
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                i{
                    color: #959DB3;
                }
                p{
                    color: #959DB3;
                }
            }

            .btn-downloand{
                min-width: 80px;
                width: 80px;
                padding: 0 10px;
                margin-left: 15px;
                margin-right: 15px;
                height: 35px;
                background-color: white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 5px;
                cursor: pointer;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                i{
                    color: #959DB3;
                }
                p{
                    color: #959DB3;
                }
            }

            .btn-addnew{
                min-width: 90px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 90px;
                padding: 0 10px;
                background-color: #1A6634;
                border-radius: 5px;
                cursor: pointer;
                box-shadow: rgba(176, 221, 246);
                i{
                    color: white;
                }
                p{
                    color: white;
                }
            }
        }
    }

    .borderBottom{
        width: 100%;
        height: 1px;
        background-color: #BDC2D2;
    }

    .field{
        display: flex;
        height: 55px;
        padding: 20px 30px;

        .reset-area{
            margin-right: 30px;
            .title-field{
                display: flex;
                i{margin-right: 10px; color: #959DB3;}
                p{font-size: 18px; color: #5A6276;}
            }
            .btn-reset{
                margin-top: 20px;
                margin-left: 25px;
                color: #008000;
                text-decoration: solid;
                cursor: pointer;
            }
        }

        .search-area{
            .title-search{
                color: #959DB3;
                font-size: 15px;
            }
           .search-action{
            margin-top: 15px;
            display: flex;
            .search{
                width: 372px;
                padding: 0 10px;
                align-items: center;
                justify-content: left;
                display: flex;
                height: 30px;
                color: #959DB3;
                border: 2px solid white;
                background-color: white;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                &:focus-within {  
                    border: 2px solid #1A6634; 
                    outline: none;
                  }
                i{

                }

                input{
                    height: 100%;
                    width: 100%;
                    margin-left: 10px;
                    border: 0px;
                    color: #959DB3;
                    font-weight: 500;

                    &:focus-within{
                        // border: 1px solid #1A6634;
                        outline: none;
                    }
                }
            }
            .btn-search{
                border-radius: 5px;
                margin-left: 20px;
                display: flex;
                width: 50px;
                background-color: #008000;
                align-items: center;
                justify-content: space-between;
                padding: 0 10px;
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                i{
                    color: white;
                }
                p{
                    color: white;
                }
            }
           } 
        }
    }

    .question-area{
        height: calc(100vh - 256px);
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        margin-bottom: 100px;
        .header-question{
            width: 100%;
            height: 50px;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            display: flex;
            padding: 10px 0;
            .head-ques{
                width: 40%;
                display: flex;

                input{
                    // padding-right: 20px ;
                    // padding-left: 15px;
                    margin-left: 10px;
                    margin-right: 15px;
                }
            }
            .head-group{
                width: 20%;
            }
            .head-time{
                width: 20%;
                display: flex;
                justify-content: center;
            }
            .head-status{
                width: 20%;
                display: flex;
                justify-content: right;
                align-items: center;
                
                p{
                    margin-right: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: right;
                }
                h1{
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    height: 82px;
                    width: 40px;
    
                    color: #BDC2D2;
                    position: relative;
                    z-index: 1;
                }
                
            }
            .head-end{

            }
        }

        .listQuestion{
            max-height: 100%;
            width: 100%;
            // min-height: 620px;
            // overflow-y: auto;
            margin-bottom: 100px;

            .NFItem{
                width: 100%;
                height: 100px;
                align-items: center;
                justify-content: center;
                display: flex;
                color:#959DB3;
                font-size: 40px;
                font-weight: bold;
            }

            .parentList{
                display: block;
          
                .item{
                    height: 62px;
                    display: flex;
                    padding: 10px 0;
                    margin-bottom: 10px;
                    align-items: center;
                    justify-content: center;
                    background-color: white;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    cursor: pointer;
                    &:hover{
                        background-color: rgb(26, 102, 52, 70%);
                    }
                    &.selected{
                        background-color: rgba(26, 102, 52, 0.7);
                    }

                    .item-ques{
                        width: 40%;
                        display: flex;
                        input{
                            margin-right: 10px  ;
                            margin-left: 10px;
                        } 
                        .checkbox-item:checked + .item{
                            background-color: #008000;
                        }
                        .farme-question{
                            margin-left: 10px;
                            width: 100%;
                            .question{
                                width: 80%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                font-weight: bold;
                                margin-bottom: 10px;
                                font-size: 13px;
                                margin-right: 10px;

                            }
                            .farme-code{
                                display: flex;
                                .idQues{
                                    min-width: 30px;
                                    font-size: 13px;
                                }
                                .lineCenter{
                                    height: 20px;
                                    width: 1px;
                                    margin: 0 10px;
                                    background-color: #BDC2D2;
                                }
                                .type-question{
                                    display: flex;
                                    p{
                                        font-size: 13px;
                                    }
                                    .type{
                                        margin-left: 5px;
                                        font-size: 13px;
                                    }
                                }
                            }

                        }
                    }
                    .item-group{
                        width: 20%;
                        font-size: 13px;
                    }
                    .item-time{
                        
                        width: 20%;
                        font-size: 13px;
                        display: flex;
                        justify-content: center;
                        font-weight: bold;
                    }
                    .item-status{
                        font-size: 13px;
                        width: 20%;
                        display: flex;
                        justify-content: right;
                        align-items: center;
                        .title-status{
                            margin-right: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: right;
                        }
                        .btn-func{
                            align-items: center;
                            justify-content: center;
                            display: flex;
                            height: 82px;
                            width: 40px;
                            border-left: 1px solid #BDC2D2;
                            color: #BDC2D2;
                            position: relative;
                            z-index: 1;
                            i{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 30px;
                                height: 30px;
           
                
                            }
                            .popfunction{
                                position: absolute;
                                height: 100%;
                                width: 141px;
                                margin-right: 250px;
                                // background-color: #BDC2D2;
                                margin-top: 52px;
                                
                                ul{
                                    list-style-type: none;
                                    position: absolute;
                                    height: 100%;
                                    width: 100%;
                                    .item-function{
                                        font-size: 14px;
                                        color: white;
                                        display: flex;
                                        padding: 0 20px;
                                        height: 50px;
                                        width: 100%;
                                        align-items: center;
                                        justify-content: left;
                                        background-color: #BDC2D2;
                                        z-index: 999;

                                        &:hover{
                                            background-color: #959DB3;
                                        }

                                        .icon-function{
                                            margin-right: 10px;
                                        }
                                    }
                                }
                              
                            }
                        }
                    }
                }
            }
        }

        .footerList{
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #EDEFF3;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;
            z-index: 1;
 

            .page-select{
                display: flex;
                p{
                    margin-right: 20px;
                }
                #number-page{
                    border: none;
                }
            }

            .pagintion{
                display: flex;
                margin-right: 20px;

                .first{
                  height: 32px;
                  width: 45px;
                  align-items: center;
                  justify-content: center;
                  display: flex;
                  border-radius: 5px;
                  background-color: white;  
                  cursor: pointer;
                  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }

                .pre{
                    height: 32px;
                    width: 20px;
                    margin: 0;
                    margin-left: 10px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    border-radius: 5px;
                    background-color: white;  
                    cursor: pointer;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }

                .numberPage{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    list-style-type: none;
                    display: flex;

                    .many-page{
                            height: 32px;
                            width: 20px;
                            background-color: white;
                            margin-left: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 5px;
                    }
                    ul{
                        list-style-type: none;
                        display: flex;

                        .itemPageNumber{
                            height: 32px;
                            width: 20px;
                            background-color: white;
                            margin-left: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 5px;
                            cursor: pointer;
                        }
                    }
                }

                .next{
                    height: 32px;
                    width: 20px;
                    margin: 0 10px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    border-radius: 5px;
                    background-color: white;  
                    cursor: pointer;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }

                .last{
                    height: 32px;
                    width: 45px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    border-radius: 5px;
                    background-color: white;  
                    margin-right: 220px;
                    cursor: pointer;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }
            }
        }

        
    }
}