<div  class="sidebar">
    <div class="logoCompany">
        <div class="logo"></div>
        <div class="icon">
            <fa-icon [icon]="faChevronDown"></fa-icon>
        </div>
    </div>
    <div class="sidebar-data-container" autosize>
        <div #drawer class="sidebar-data" mode="side">
            <ul *ngIf="drawerData == 'nhansu'" class="group-item">
                <li  (click)="selectItem(i)" class="item" *ngFor="let item of DrawerLeftData; index as i">
                    <div class="itemMain">
                        <div [ngStyle]="{'color': itemSelected === i ? '#5CB800': 'white'}" class="iconLeft">
                            <i [ngStyle]="{'color': itemSelected === i ? '#5CB800': 'white'}" class="{{item.icon}}"></i>
                        </div>
                        <div [ngStyle]="{'color': itemSelected === i ? '#5CB800': 'white'}"  class="name">{{item.name}}</div>
                        <div class="iconRight">
                            <i *ngIf="itemSelected === i" [ngStyle]="{'color': itemSelected === i ? '#5CB800': 'white'}" class="fa-solid fa-chevron-up"></i>
                            <i *ngIf="itemSelected !== i" [ngStyle]="{'color': itemSelected === i ? '#5CB800': 'white'}" class="fa-solid fa-chevron-down"></i>
                        </div>
                    </div>
                    <div *ngIf="itemSelected === i">
                        <div *ngFor="let itemChild of item.child; index as j" class="itemDrop">
                            <ul *ngIf="isDropdownItem == true" class="itemDropGroup">
                                <li class="item">
                                    <div class="icon">
                                        <i [ngStyle]="{'color': itemDropSelected === j ? '#5CB800': 'white'}" class="{{itemChild.icon}}"></i>
                                    </div>
                                    <span [ngStyle]="{'color': itemDropSelected === j ? '#5CB800': 'white'}" class="name">{{itemChild.nameChild}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li> 
            </ul>
        </div>
    </div>
</div>
