.sidebar{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 220px;
    background-color: #5A6276;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    .logoCompany{
        height: 60px;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            height: 70%;
            width: 70%;
            background-image: url('../logoHachi.png');
            background-size: cover;
            margin-left: 10px;
        }

        .icon{
            margin-right: 10px;
        }
    }

    .sidebar-data-container{
        .sidebar-data{
            .group-item{
                .item{
                    .itemMain{
                        cursor: pointer;
                        display: flex;
                        height: 50px;
                        width: 100%;
                        align-items: center;
                        justify-content: space-between;
    
                        .iconLeft{
                            padding-left: 10px;
                            padding-right: 10px;
                            width: 10px;
                        }
    
                        .name{
                            width: calc(220px - 50px);
                            display: flex;
                            align-items: center;
                            justify-content: left;
                            padding-left: 10px;
                        }
    
                        .iconRight{
                            width: 10px;
                            padding-left: 10px;
                            margin-right: 10px;
                        }
                    }
                    
                }
            }
            .itemDrop{
              .itemDropGroup{
                .item{
                    display: flex;
                    cursor: pointer;
                    .icon{
                        padding-left: 10px;
                    }
                    .name{
                        padding-left: 10px;
                    }
                }
              }  
            }
        }
    }

    
}