* {
  text-decoration: none;
  list-style-type: none;
  overflow: hidden;
  user-select: none;
}

.all-page {
  height: calc(100vh);
  width: 100%;
  display: flex;
  background-color: #edeff3;
  padding-top: 2px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.content-side-bar {
  width: 100%;
  height: 100%;
}

.side-bar {
  width: 15%;
  height: 100%;
  background-color: #5a6276;
}

.under-line {
  width: 100%;
  height: 1px;
  background-color: #bdc2d2;
}

.logo {
  height: 7vh;
  width: 99.5%;
  border-bottom: 1px #ffffff solid;
  background-color: white;
  border-top: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-arrow {
  width: 20px;
  height: 20px;
  margin-left: 50px;
}

.logo .image {
  background-image: url("./icon/logoHachi.png");
  height: 100%;
  width: 60%;
  background-size: cover;
}

.content-side-bar {
  height: 93vh;
  width: 100%;
}

.content-side-bar ul {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
}

.content-side-bar ul li {
  height: 50px;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  border-left: 5px solid #5cb800;
}

.content-side-bar ul li .icon {
  height: 30px;
  width: 30px;
  color: white;
  padding-left: 2vh;
}

.content-side-bar ul li a {
  color: white;
  position: relative;
}

.content-side-bar ul li .iconSideBar {
  margin-right: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.dropdown {
  display: none;
}

.dropdown a {
  margin-left: 40px;
}

.dropdown.active {
  display: block;
  height: 50px;
  position: absolute;
  /* background-color: red; */
  align-items: center;
  display: flex;
  justify-content: left;
  padding-left: 20px;
  margin-top: 100px;
  margin-left: -5px;
  border-left: 5px solid white;
  width: 280px;
}

.content-area {
  width: 84%;
  height: 100%;
  margin-left: 0.3%;
  margin-right: 0.3%;
}

.input-find input:focus {
  outline: none;
}

.numberShow select:focus {
  outline: none;
}

.head-action {
  height: 50px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(199, 199, 199, 0.2),
    0 6px 10px 0 rgba(216, 216, 216, 0.19);
}

.head-action .btn-location {
  width: calc(70%);
  height: 100%;
}

.head-action .btn-location ul {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 10px;
  margin-left: 20px;
}

.head-action .btn-location ul li {
  max-width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.item-header {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.head-action .btn-location ul li a {
  color: #008000;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.head-action .btn-location ul li nav {
  height: 80%;
  width: 3px;
  background-color: #c4c4c4;
  border-radius: 30%;
  margin-left: 30px;
  margin-right: 30px;
}

.head-action .btn-location ul li div {
  height: 100%;
  width: 100%;
  position: relative;
}

.underline-title-header {
  height: 5px;
  width: 100%;
  border-radius: 20px;
  position: absolute;
  top: 60%;
}

.head-action .btn-individual {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 20px;
}

.rowItem {
  max-height: 62px;
  cursor: pointer;
}

.rowItem:hover::before {
  content: attr(title);
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.head-action .btn-individual ul {
  display: flex;
  justify-content: center;
}

.head-action .btn-individual ul li {
  width: 60px;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}

head-action .btn-individual ul li:hover::before {
  content: attr(title);
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.head-action .btn-individual ul li .head-find {
  align-items: center;
  justify-content: center;
  display: flex;
}

.head-action .btn-individual ul div {
  align-items: center;
  justify-content: center;
  display: flex;
}

.head-action .btn-individual ul div .red-point {
  height: 20px;
  width: 20px;
  background-color: orange;
  border-radius: 100px;
  color: white;
  font-size: 10px;
  position: absolute;
  margin-top: -20px;
  margin-right: -1%;
}

.head-action .btn-individual ul li .head-find img {
  width: 18px;
  height: 18px;
}

.head-action .btn-individual ul li .head-noi {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}

.head-action .btn-individual ul li .head-noi img {
  width: 18px;
  height: 18px;
}

.head-action .btn-individual ul li .head-avatar {
  height: 35px;
  width: 35px;
  background-color: red;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100px;
  background-image: url("./icon/avatar.jpg");
  background-size: cover;
  position: relative;
}

.head-action .btn-individual ul div .green-point {
  height: 10px;
  width: 10px;
  background-color: #05d103;
  border-radius: 100px;
  position: absolute;
  margin-top: 30px;
  margin-left: 25px;
}

.head-field {
  height: 60px;
  width: 100%;
  display: flex;
}

.head-field .field-check {
  height: 99%;
  width: 70%;
  align-items: center;
  display: flex;
  position: relative;
}

.head-field .field-check div {
  max-width: 150px;
  height: 30px;
  background-color: white;
  border-radius: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  border-style: solid;
  border-color: white;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(199, 199, 199, 0.2),
    0 6px 10px 0 rgba(216, 216, 216, 0.19);
}

.head-field .field-check div input {
  cursor: pointer;
}

#draftChecked {
  border-color: #008000;
}

#sendChecked {
  border-color: #008000;
}

#browserChecked {
  border-color: #008000;
}

#stopBrowserChecked {
  border-color: #008000;
}

.rowItem {
  align-items: "center";
  display: "flex";
  padding: 10;
  background-color: "white";
  margin-bottom: 5;
  height: 62;
}

#itemQuestionChecked {
  background-color: red;
}

.head-field .field-check div a {
  margin-right: 15px;
  color: #959db3;
}

.head-field .field-btn {
  height: 99%;
  width: 30%;
  align-items: center;
  display: flex;
  justify-content: right;
  margin-right: 30px;
}

.head-field .field-btn .field-uploand {
  height: 32px;
  max-width: 200px;
  background-color: #ffffff;
  border-radius: 3px;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 2px 0 rgba(199, 199, 199, 0.2),
    0 6px 10px 0 rgba(216, 216, 216, 0.19);
  display: flex;
}

.head-field .field-btn .field-uploand .icon {
  height: 20px;
  width: 20px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.head-field .field-btn .field-downloand {
  height: 32px;
  max-width: 200px;
  background-color: #ffffff;
  border-radius: 3px;
  margin-right: 20px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  box-shadow: 0 1px 2px 0 rgba(199, 199, 199, 0.2),
    0 6px 10px 0 rgba(216, 216, 216, 0.19);
  cursor: pointer;
}

.head-field .field-btn .field-downloand .icon {
  height: 20px;
  width: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.head-field .field-btn .field-downloand icon {
  padding: 0 10px;
}

.head-field .field-btn .field-downloand a {
  padding-right: 10px;
  font-size: 16px;
}

.head-field .field-btn .field-addNew {
  height: 34px;
  max-width: 200px;
  background-color: #ffffff;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a6634;
  color: white;
  box-shadow: 0 1px 2px 0 rgba(173, 220, 246, 0.2),
    0 6px 10px 0 rgba(0, 217, 255, 0.19);
  padding: 0 10px;
  cursor: pointer;
}

.head-field .field-btn .field-addNew a {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 16px;
  margin-left: 10px;
}

.body-data {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
}

.body-data .data-icon {
  width: 5%;
  height: 100%;
  justify-content: center;
  align-items: center;
  justify-content: left;
}

.body-data .data-icon .icon {
  height: 30px;
  width: 100%;
  margin-top: 20px;
}

.body-data .data-reset {
  display: block;
  width: 10%;
  height: 100%;
  align-items: center;
}

.body-data .data-reset p {
  font-size: 18px;
  height: 50%;
  align-items: center;
  display: flex;
  justify-content: left;
}

.body-data .data-reset a {
  font-size: 15px;
  height: 50%;
  align-items: right;
  display: flex;
  justify-content: left;
  color: #008000;
  text-decoration-line: underline;
  cursor: pointer;
}

.body-data .data-find {
  margin-right: 30px;
  display: block;
  height: 100%;
  width: 100%;
}

.body-data .data-find p {
  color: #a1a1a1;
  font-weight: 500;
}

.body-data .data-find div {
  display: flex;
  max-width: 500px;
  height: 29px;
}

.body-data .data-find .input-find {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.body-data .data-find .input-find .icon {
  height: 20px;
  width: 20px;
  padding: 0 20px;
}

.body-data .data-find .input-find input {
  border: 0;
  width: 320px;
}

.body-data .data-find .btn-find {
  height: 29px;
  width: 70px;
  margin-left: 20px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: white;
  border-radius: 5px;
  background-color: #008000;
  color: white;
  box-shadow: 0 1px 2px 0 rgba(199, 199, 199, 0.2),
    0 6px 10px 0 rgba(216, 216, 216, 0.19);
}

.body-data .data-find .btn-find .icon {
  padding-left: 10px;
  height: 20px;
  width: 20px;
}

.body-data .data-find .btn-find a {
  padding-right: 10px;
}

.body-content {
  height: calc(100% - 100px - 60px - 90px);
  width: 100%;
}

.head-list {
  display: flex;

  justify-content: left;
  height: 50px;
  width: 100%;
  padding: 0.5% 0;
}

.head-question {
  width: 52%;
  height: 50px;
  align-items: center;
  display: flex;
  color: #5a6276;
  font-weight: 500;
}

.head-question div input {
  margin-right: 20px;
  margin-left: 10px;
}

.head-group {
  width: 14%;
  height: 100%;
  color: #5a6276;
  font-weight: 500;
}

.head-time {
  width: 13%;
  height: 50px;
  justify-content: center;
  display: flex;
  color: #5a6276;
  font-weight: 500;
}

.head-status {
  width: 13.5%;
  height: 50px;
  display: flex;
  padding-right: 100px;
  justify-content: right;
  color: #5a6276;
  font-weight: 500;
}

.head-end {
  width: 7%;
}

.body-list {
  height: 100%;
  width: 100%;
  /* margin-bottom: 30px; */
}

.list {
  height: 90%;
  width: 100%;
  overflow: scroll;
  margin-bottom: 30px;
}

.footer {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.footer-page-show {
  padding-left: 10px;
  width: 400px;
  color: #5a6276;
  align-items: center;
  justify-content: left;
  display: flex;
}

.footer-page-show p {
  font-size: 18px;
}
.dropup {
  margin-left: 20px;
}

.dropup option {
  font-size: 18px;
}

.footer-page-numbe {
  width: 200px;
}

.footer-page-number .itemNumber {
  margin: 0 20px;
  /* background-color: red; */
}

.footer-page-number {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.footer-page-number div {
  display: flex;
}

.firstNumberPage {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50px;
  height: 20px;
  background-color: white;
}

.lastNumberPage {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50px;
  height: 20px;
  background-color: white;
}

#numberShow {
  border: none;
  position: relative;
  background-color: #f3f3f3;
  color: #5a6276;
  font-size: 15px;
}
#numberShow::-webkit-select {
  -webkit-appearance: none;
  transform: rotate(180deg);
}

#draftCheck:checked + span {
  background-color: #008000;
  color: #008000;
}

input[type="checkbox"] {
  accent-color: #008000;
}

.input {
  background-color: red;
}

.pop-delete-area {
  height: 1000vh;
  width: 90%;
  margin-right: 10%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000080;
}

.pop-up {
  height: 273px;
  width: 353px;
  display: flex;
  position: absolute;
  z-index: 9999;
  margin-top: -50%;
  background-color: white;
}

.pop-content {
  width: 100%;
  height: 100%;
}

.head-pop-delete {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-pop-delete p {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #fd7676;
}

.body-pop-delete {
  width: 100%;
  height: 60%;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.body-pop-delete p {
  align-items: center;
  justify-content: center;
  display: flex;
}

.footer-pop-delete {
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: center;
  display: flex;
  border-top: 1px solid #dbdee7;
}

.footer-pop-delete .btn-cancel {
  width: 50%;
  height: 100%;
  border: 0;
  background-color: white;
  color: #959db3;
  cursor: pointer;
}

.footer-pop-delete .btn-delete {
  width: 50%;
  height: 100%;
  border: 0;
  background-color: #fd7676;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* .footer-pop-delete .btn-cancel {
} */

.footer-pop-delete .btn-delete p {
  margin-left: 15px;
  color: white;
  font-size: 15px;
}

.popStatus-area {
  position: absolute;
  height: 150px;
  width: 400px;
  margin-top: -100px;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  z-index: 99999;
}

.popStatus {
  height: 50px;
  max-width: 100%;
  background-color: #1a6634;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  padding: 0 20px;
}

.popStatus p {
  padding-left: 20px;
}

.pop-item-checked {
  height: 1000vh;
  width: 90%;
  margin-right: 10%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop-itemchecked-area {
  height: 120px;
  width: 75%;
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: -500px;
}

.popupItemChecked {
  max-width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 0;
  box-shadow: 0 1px 2px 0 rgba(199, 199, 199, 0.2),
    0 6px 10px 0 rgba(216, 216, 216, 0.19);
  border-radius: 15px;
}

.popupItemChecked .itemChecked {
  height: 100%;
  width: 100px;
  background-color: #008000;
  padding: 10px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 10px;
}

.popupItemChecked .itemChecked {
  width: 100px;
  height: 80px;
}

.popupItemChecked .itemChecked .numberCheck {
  color: white;
  font-size: 30px;
  height: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.popupItemChecked .itemChecked .textCheck {
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 18px;
}

.list-function {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemsFunction {
  max-width: 200px;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 20px;
  margin-left: 10px;
  display: flex;
}

.itemsFunction div {
  max-height: 100%;
  width: 100%;
  align-items: center;
}

.iconFunctionName {
  align-items: center;
  display: flex;
  justify-content: center;
}

.itemFunctionName {
  font-size: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.itemsFunction p {
  align-items: center;
  justify-content: center;

  display: flex;
}

.close-pop-checked {
  margin: 0 20px;
  border-left: 1px solid #bdc2d2;
  height: 100%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.close-pop-checked div {
  width: 20px;
}
